.crsdd,
.portada,
.tldsc_right {
    filter: saturate(150%)
}


.crsdd h2,
body {
    font-family: "Jost", sans-serif;
}

*,
.galery {
    box-sizing: border-box;
    font-family: "Jost", sans-serif;

}

* {
    margin: 0;
    padding: 0
}

p {
    font-size: 20px;
}

h2 {
    font-size: 60px;
}




.msgbvn,
.portada {
    flex-direction: column;
    display: flex
}



.portada {
    position: relative;
    background: url(/imagenes/cruz.jpg) center/cover no-repeat fixed;
    height: 80vh;
    width: 100vw;
    color: #fff
}

.msgbvn {
    text-align: center
}

.msgbvn h2 {
    font-size: 60px !important;
    color: #000;
    line-height: 1;
    font-weight: 800;
}

.msgbvn p {
    font-style: italic;
    margin-top: 50px;
    color: #000;
}

.portada h1 {

    font-size: 150px;
    line-height: .9;

}

.portada_ctn {
    position: absolute;
    top: 20%;
    left: 10%;
}

.division1 {
    width: 380px;
    height: 6px;
    background-color: #1ecd56;
    position: absolute;

}

.division2 {
    width: 380px;
    height: 6px;
    background-color: #1ecd56;
    margin-top: 30px;
}

.msgbvn {
    padding: 150px 0;
    align-items: center;
    justify-content: center
}

.division {
    height: 4px;
    background-color: #1ecd56;
    border-radius: 50%
}

.dcpc_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
}

.imgdcpc_1 {
    display: flex;
    margin: 50px 0px 150px 0px;
}



.tldsc {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 80vh;
    position: relative;
    margin-bottom: 200px;
}



.tldsc_left h2 {
    color: white;
    font-size: 60px;
}

.tldsc_left p {
    color: white;
    font-style: italic;
    line-height: 1.4;
}

.crts {
    height: auto;
    padding: 150px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center
}

.cardcrts,
.crsdd {
    align-items: center;
    display: flex
}

.cardcrts {
    height: 325px;
    width: 230px;
    background-color: #e5e7ea;
    border-radius: 10px;
    margin: 0 30px;
    justify-content: center;
    text-align: center;
    padding: 30px;
    flex-direction: column
}

.cardcrts p {
    font-size: 18px !important;
    margin: 10px 0 0;
    padding: 0
}

.cardcrts img {
    height: 80px;
    width: 80px
}

.crsdd {
    height: 50vh;
    width: 100vw;
    background-image: url(https://www.peruandeantravel.com/images/southern-peru/colca-canyon-1920-800.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center
}

.crsdd h2 {
    font-size: 50px;
    color: #fff
}

.galery {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap
}

.image-container {
    width: 33vw;
    height: 247px;
    overflow: hidden;
    position: relative
}

.image-container h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 1;
    padding: 5px;
    font-size: 35px;
    opacity: 0;
    transition: opacity .3s;
    font-weight: bold;
    font-size: 35px;

}

.galery img {
    width: 100%;
    height: 100%;
    transition: transform .3s;
    display: block
}

.image-container:hover img {
    transform: scale(1.2);
    filter: brightness(50%)
}

.image-container:hover h4 {
    opacity: 1
}

.colca_curiosities {
    height: auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 15vw;
    justify-content: space-around;
}

.carta {
    height: auto;
    width: 350px;
    text-align: center;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;

}

.carta h4 {
    font-size: 24px;
}

.carta p {
    color: #000;
    font-size: 18px;
}

footer {
    width: 100vw;
    padding: 70px;
    text-align: center;
    background-color: #1ecd56;
}

footer p {
    color: #000 !important;
    margin: 0px;
}

.portadacm {
    position: relative;
    background: url('https://muniyanahuara.gob.pe/wp-content/uploads/2020/12/pama-can%CC%83.jpg') center/cover no-repeat fixed;
    height: 80vh;
    width: 100vw;
    color: #fff;
    background-position: center 10%;
    background-repeat: no-repeat;
    flex-direction: column;
    display: flex;
    filter: saturate(150%);
    overflow: hidden;

}

.portadacm h2 {

    position: absolute;
    top: 40%;
    left: 24%;
    font-size: 150px;
    line-height: .9
}

.cabeceracl {
    text-align: center;
    padding: 70px;
    margin: 0 15vw;


}

.cabeceracl iframe {
    border-radius: 15px;
}

#map {
    height: 600px;
    width: 600px;
}

.clgroup {
    display: flex;
    height: auto;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.clgroup_right {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 0px 20px;
    color: #333;
    margin-left: 20px;
}

.travel-steps {
    list-style-type: decimal;
    padding-left: 20px;
    line-height: 1.6;
}

.travel-steps li {
    margin-bottom: 10px;
    font-size: 16px;
    transition: color 0.3s ease;
    text-align: left;

}

.travel-steps li:hover {
    color: #47b72f;
    /* Un color azul para resaltar cuando el usuario pasa el cursor */
}

.info,
.companies {
    margin-top: 20px;
    padding: 15px;
    border-left: 4px solid #47b72f;
    border-radius: 5px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.info h2,
.companies h2 {
    font-size: 18px;
    color: #47b72f;
    margin-bottom: 10px;
}

.info p,
.companies ul {
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}

.companies ul {
    list-style-type: none;
    padding-left: 0;
}

.companies ul li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 8px;
}

.companies ul li::before {
    content: "✔";
    /* Símbolo de checkmark */
    position: absolute;
    left: 0;
    top: 0;
    color: #47b72f;
}

strong {
    color: #47b72f;
}

.infocom {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.img-container {
    position: relative;
    height: 286px;
    width: 286px;
}

.img-container span {
    position: absolute;

}

.imgdcpc_1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container {
    position: relative;
    width: 286px;
    /* Ajusta el ancho del contenedor */
    height: 286px;
    /* Ajusta la altura del contenedor */
    background-size: cover;
    /* Hace que la imagen cubra todo el contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
    margin: 50px 20px;
}

.one {
    background-image: url(/imagenes/condor_flor.jpg);
}

.dos {
    background-image: url(/imagenes/costumbres.jpg);
}

.tres {
    background-image: url(/imagenes/flora.jpg);
}

.cuatro {
    background-image: url(/imagenes/comida.jpg);
}

.image-text {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #1ecd56;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
}

.tldsc_left {
    background-color: #111326;
    width: 60vw;
    padding: 60px;
    position: absolute;
    z-index: 5;

}

.tldsc_right {
    background-image: url('https://www.mundomapi.com/images/tours/trekking-al-canon-colca-3-dias-1608324924.jpg');
    height: 100%;
    width: 80vw;
    position: absolute;
    right: 0px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.crtrtcs {
    width: 100vw;
    padding: 50px 5vw;
    background-color: #111326;
    margin: 200px 0px;
}

.crtrtcs h2 {
    color: #1ecd56;
    font-size: 60px;
    text-align: center;
}

.ctn_crtrtcs {
    display: flex;
    justify-content: space-around;
    text-align: center;

}

.ctn_crtrtcs1 {
    margin: 0px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ctn_crtrtcs1 h3 {
    color: #1ecd56;
}

.ctn_crtrtcs1 p {
    font-size: 18px;
    color: white;
    width: 80%;
    text-align: center;

}

.ctn_crtrtcs1 img {
    height: 300px;
    width: 350px;
    border-radius: 50px;
}

.dtscñ {
    width: 100vw;
    background-color: #1ecd56;
    color: #000;
    margin: 0px;
}

.dtscñ h2 {
    font-size: 60px;
    text-align: center;
    padding: 20px 0px;
    margin: 0;
    font-weight: bold;
}


.galery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
    margin: 0 auto;
}

.image-container {
    text-align: center;
}

.image-container img {
    width: 100%;
    height: 350px;
}

.cmlg {
    width: 60vw;
    margin: 0px 20vw;

}



/*Navbar*/

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #47b72f;
    padding: 15px 30px;
    position: relative;
    color: white;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #444;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        padding: 10px 0;
    }

    .navbar.active ul {
        display: flex;
    }

    .navbar li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }

    .navbar {
        justify-content: flex-end;
    }
}

@media (max-width: 480px) {
    .navbar a {
        font-size: 14px;
    }
}



/*Navbar*/
.dsdaqp {
    display: flex;
    box-shadow: 0px 25px 15px -3px rgba(0, 0, 0, 0.1);
}

.dsdaqp p {
    font-size: 18px;
    line-height: 1.4;
}

.dsdaqpctn {
    padding: 35px;
    width: 50%;
}

.dtlp {
    width: 60vw;
    margin: 50px 20vw;
    text-align: center;
}

.dsdaqpch {
    display: flex;
    box-shadow: 0px 20px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 35px;
}

.dsdaqpch p {
    font-size: 18px;
    line-height: 1.4;
}

.sctctn {
    margin-bottom: 50px;
}

h3 {
    font-size: 22px;
    font-weight: 600;

}

.clh2 {
    font-size: 40px;
    font-weight: 700;
    color: #1ecd56;
}

.ftg_cl {
    width: 100vw;
    background-color: #111326;
    padding: 50px 0px;

}

.dcrftg_cl {
    width: 40vw;
    text-align: center;
    margin: 40px 30vw;
    color: white;
}

.gall_ftg_cl {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    margin: 0 15vw;
    height: auto;
    justify-content: center;
}

.img_gall_ftg_cl {
    width: 361.33px;
    height: 333px;
    overflow: hidden;
    position: relative;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.img_gall_ftg_cl img {
    max-height: 100%;
    height: auto;
    transition: transform .3s;
    filter: saturate(150%);
}

.img_gall_ftg_cl:hover img {
    transform: scale(1.2);
    filter: brightness(50%)
}

.img_gall_ftg_cl:hover h4 {
    opacity: 1
}

.img_gall_ftg_cl h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 1;
    padding: 5px;
    font-size: 35px;
    opacity: 0;
    transition: opacity .3s;
    font-weight: bold;
    font-size: 35px;
}

.dtnccl {
    width: 60%;
    margin: 0px 20vw;
    padding: 50px 50px;
}

.dtnccl h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.dtnccl h2 {
    font-size: 40px;
    margin: 20px 0px;

}

.dtnccl h3 {
    font-size: 25px;
    margin: 20px 0px;

}

.dtnccl h4 {
    font-size: 20px;
    margin: 20px 0px;
}

.dtnccl h5 {
    font-size: 18px;
    margin: 0px 10px;
    font-weight: bold;
}

.atracti {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100vw;
    padding: 0vw 10vw;
    justify-content: center;

}

.atractictn {
    width: 450px;
    height: auto;
    padding: 25px;
    background-color: #f3f2f2;
    margin: 15px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-bottom: 3px solid #1ecd56;
}

.atractictn h3 {
    margin-bottom: 15px;
}

.centeralin {
    text-align: center;
    margin-top: auto;
}

.diffapp {
    background-color: #333;
    padding: 25px 0px;
    margin: 50px 0px;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 500px;
    position: relative;
    margin: 100px 0px 0px 0px;
}

.chivay {
    background-image: url('./imagenes/calera.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.yanque {
    background-image: url('./imagenes/yanque.gif');
    background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.cabanaconde {
    background-image: url('./imagenes/cabanaconde.jpg');
    background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.maca {
    background-image: url('./imagenes/maca.jpg');
    background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.callali {
    background-image: url('./imagenes/callali.jpg');
    background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.sibayo {
    background-image: url('./imagenes/sibayo.jpg');
    background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 8rem;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.dtnccl1 {
    width: 60%;
    margin: 0px 20vw;
    padding: 50px 50px 10px 50px;
}

.dtnccl1 h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.dtnccl1 h2 {
    font-size: 40px;
    margin: 20px 0px;

}

.dtnccl1 h3 {
    font-size: 25px;
    margin: 20px 0px;

}

.dtnccl1 h4 {
    font-size: 24px;
    margin: 20px 0px;
    font-weight: 500;
}

.dtnccl1 h5 {
    font-size: 18px;
    margin: 0px 10px;
    font-weight: bold;
}

.dtnccl1 li {
    font-size: 20px;
    line-height: 1.8;
}

.dtnccl1 strong {
    font-weight: 500;
}

.alingphoto {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px;
}

.alingphoto img {
    width: 100%;
    height: auto;
}


.cambio_idioma {
    background-color: #333;
    border-radius: 15px;
}

.skiptranslate {
    width: 80%;
    text-align: right;
    margin-top: 15px;
}

@media (min-width: 768px) and (max-width: 1025px) {

    .portadacm,
    .portada {
        height: 50vh;
    }

    .portadacm {
        align-items: center;
        justify-content: center;
    }

    .portadacm h2 {
        position: relative;
        top: 0%;
    }

    .msgbvn {
        padding: 50px 0px;
    }

    .tldsc_right {
        width: 100vw;
    }

    .crtrtcs {
        margin: 50px 0px;
    }

    .ctn_crtrtcs {
        flex-wrap: wrap;

    }

    .ctn_crtrtcs p {
        width: 200px;
    }

    .ctn_crtrtcs1 {
        margin: 25px;
    }

    .image-container img {
        height: 100%;
    }

    .colca_curiosities {
        padding: 20px 0px;
    }

    .carta {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .dtlp {
        width: 80vw;
        margin: 25px 10vw 50px 10vw;
    }

    .cmlg {
        width: 85vw;
        margin: 0px 7.5vw;
    }

    .dcrftg_cl {
        width: 60vw;
        margin: 40px 20vw;
    }

    .gall_ftg_cl {
        width: 85vw;
        margin: 0px 7.5vw;
    }

    .img_gall_ftg_cl {
        width: 280px;
    }

    .dtnccl {
        width: 80vw;
        margin: 0px 10vw;
        text-align: center;
    }

    .atractictn {
        width: 400px;
    }

    .atracti {
        padding: 0px 5vw;
    }

    .dtnccl p {
        text-align: center;
    }

    .dtnccl1 {
        width: 85vw;
        margin: 0px 7.5vw;
    }

    .skiptranslate {
        width: 100vw;
    }
}

@media (min-width: 430px) and (max-width: 932px) {
    .portada {
        width: auto;
        height: 50vh;
        background: url(/imagenes/cruz.jpg) center / cover no-repeat;

    }

    .portada_ctn {
        position: relative;
        left: 0%;
    }

    .portada_ctn h1 {
        font-size: 80px;
        text-align: center;
    }

    .division1 {
        display: none;
    }

    .imgdcpc_1 {
        flex-wrap: wrap;
    }

    .msgbvn {
        padding-bottom: 50px;
    }

    .img-container {
        margin: 5px 20px;
    }

    .tldsc {
        display: block;
    }

    .tldsc_left {
        width: 100vw;
        text-align: center;
        padding: 25px;
    }

    .tldsc_right {
        display: none;
    }

    .crtrtcs {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
    }

    .ctn_crtrtcs {
        flex-wrap: wrap;
    }

    .crtrtcs h2 {
        font-size: 50px;
        font-weight: bold;
    }

    .ctn_crtrtcs1 {
        margin: 15px 25px;
    }

    .dtscñ h2 {
        font-size: 50px;
    }

    .container {
        width: 50%;
    }

    .image-container {
        width: 100%;
    }

    .image-container img {
        width: 100% !important;
        height: 100%;
    }

    .galery {
        grid-template-columns: repeat(2, 1fr);
    }

    .colca_curiosities {
        padding: 50px 25px;
    }

    .carta {
        margin: 0px;
    }




    .portadacm {
        width: auto;
        height: 50vh;
        background: url("https://muniyanahuara.gob.pe/wp-content/uploads/2020/12/pama-can%CC%83.jpg") center / cover no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .portada_ctn {
        position: relative;
        left: 0%;
    }

    .portadacm h2 {
        font-size: 80px;
        text-align: center;
        left: 0px;
    }

    .cabeceracl {
        padding: 0px;
    }

    .dtlp {
        margin: 50px 5vw;
        width: 90vw;
    }

    .cmlg {
        width: 100vw;
        margin: 0px;
    }

    .sctctn {
        width: 100vw;
    }

    .clh2 {
        text-align: center;
    }

    .dsdaqp {
        flex-direction: column;
    }

    .dsdaqpctn {
        width: 100%;
        padding: 0px 35px;
    }

    .dcrftg_cl {
        width: 90vw;
        margin: 40px 5vw;
    }

    .division {
        width: 100%;
        margin: 0px !important;
    }

    .dtnccl {
        margin: 0px 5vw;
        width: 90vw;
        padding: 25px 15px;
    }

    .dtnccl h1 {
        font-size: 40px;
    }

    .texto {
        font-size: 60px;
    }

    .dtnccl1 {
        width: 90vw;
        margin: 0px 5vw;
        padding: 0px;
    }

    .dtnccl1 li {
        margin-left: 15px;
        line-height: 1.5;
    }

    p {
        line-height: 1.5;
    }

    .skiptranslate {
        width: 100vw;
    }
}

@media (max-width: 430px) {
    .portada {
        width: auto;
        height: 50vh;
        background: url(/imagenes/cruz.jpg) center / cover no-repeat;

    }

    .portada_ctn {
        position: relative;
        left: 0%;
    }

    .portada_ctn h1 {
        font-size: 80px;
        text-align: center;
    }

    .division1 {
        display: none;
    }

    .imgdcpc_1 {
        flex-wrap: wrap;
    }

    .msgbvn {
        padding-bottom: 50px;
    }

    .img-container {
        margin: 5px 20px;
    }

    .tldsc {
        display: block;
    }

    .tldsc_left {
        width: 100vw;
        text-align: center;
        padding: 25px;
    }

    .tldsc_right {
        display: none;
    }

    .crtrtcs {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
    }

    .ctn_crtrtcs {
        flex-wrap: wrap;
    }

    .crtrtcs h2 {
        font-size: 50px;
        font-weight: bold;
    }

    .ctn_crtrtcs1 {
        margin: 15px 25px;
    }

    .dtscñ h2 {
        font-size: 50px;
    }

    .container {
        width: 50%;
    }

    .image-container {
        width: 100%;
    }

    .image-container img {
        width: 100% !important;
        height: 100%;
    }

    .galery {
        grid-template-columns: repeat(2, 1fr);
    }

    .colca_curiosities {
        padding: 50px 25px;
    }

    .carta {
        margin: 0px;
    }




    .portadacm {
        width: auto;
        height: 50vh;
        background: url("https://muniyanahuara.gob.pe/wp-content/uploads/2020/12/pama-can%CC%83.jpg") center / cover no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .portada_ctn {
        position: relative;
        left: 0%;
    }

    .portadacm h2 {
        font-size: 80px;
        text-align: center;
        left: 0px;
    }

    .cabeceracl {
        padding: 0px;
    }

    .dtlp {
        margin: 50px 5vw;
        width: 90vw;
    }

    .cmlg {
        width: 100vw;
        margin: 0px;
    }

    .sctctn {
        width: 100vw;
    }

    .clh2 {
        text-align: center;
    }

    .dsdaqp {
        flex-direction: column;
    }

    .dsdaqpctn {
        width: 100%;
        padding: 0px 35px;
    }

    .dcrftg_cl {
        width: 90vw;
        margin: 40px 5vw;
    }

    .division {
        width: 100%;
        margin: 0px !important;
    }

    .dtnccl {
        margin: 0px 5vw;
        width: 90vw;
        padding: 25px 15px;
    }

    .dtnccl h1 {
        font-size: 40px;
    }

    .texto {
        font-size: 60px;
    }

    .dtnccl1 {
        width: 90vw;
        margin: 0px 5vw;
        padding: 0px;
    }

    .dtnccl1 li {
        margin-left: 15px;
        line-height: 1.5;
    }

    p {
        line-height: 1.5;
    }

    .skiptranslate {
        width: 100vw;
    }
}